<!-- First Band (Image) -->
 
  <div class="row">
    <div class="large-10 large-offset-1 columns">
      <ul class="example-orbit" data-orbit data-options="animation:slide;
                  animation_speed:1000;
                  pause_on_hover:true;
                  animation_speed:500;
                  navigation_arrows:true;
                  bullets:false;">
		  <li>
		    <img style="height:400px" src="https://scontent-a-dfw.xx.fbcdn.net/hphotos-ash3/t1/563499_568078776561285_408387919_n.jpg" alt="slide 1" />
		    <div class="orbit-caption">
		      Caption One.
		    </div>
		  </li>
		  <li>
		    <img style="height:400px" src="https://scontent-a-dfw.xx.fbcdn.net/hphotos-ash3/579737_488577641178066_882908764_n.jpg" alt="slide 2" />
		    <div class="orbit-caption">
		      Caption Two.
		    </div>
		  </li>
		  <li>
		    <img src="https://scontent-b-dfw.xx.fbcdn.net/hphotos-ash3/598798_439723872730110_502512346_n.jpg" alt="slide 3" />
		    <div class="orbit-caption">
		      Caption Three.
		    </div>
		  </li>
		</ul>
      <!-- Third Band (Image Right with Text) -->
 	  <hr>
	  <div class="row">
	    <div class="large-8 columns">
	      <h4>Nuestro objetivo general.</h4>
	 
	      <p>Nuestra Asociación tiene por objeto, apoyar a personas y comunidades que se encuentran en situaciones de pobreza, marginación o emergencia, en su desarrollo Integral, a través de proyectos y procesos educativos, participativos, incluyentes, sustentables y todos aquellos que de manera solidaria y subsidiaria favorezcan su desarrollo integral.</p>
	    </div>
	    <div class="large-4 columns">
	      <img src="https://fbcdn-sphotos-b-a.akamaihd.net/hphotos-ak-ash3/945914_517950208240809_365047765_n.jpg">
	    </div>
	  </div>
       <!-- Second Band (Image Left with Text) -->
       <hr>

	  <div class="row">
	    <div class="large-4 columns">
	      <img src="https://fbcdn-sphotos-d-a.akamaihd.net/hphotos-ak-frc3/1185492_564468026922360_1277664513_n.jpg">
	    </div>
	    <div class="large-8 columns">
	      <h4>Sobre.</h4>
	      <div class="row">
	        <div class="large-6 columns">
	          <p>La Fundación Origen Nakú apoya a 3 comunidades indígenas : Xaltipan, Skatachuchut y Tonalix, de la región de Cuetzalan (Sierra Norte del estado de Puebla).</p>
	   	      <p><a href="#">Leer mas...</a></p>
	        </div>
	        <div class="large-6 columns">
	          <img src="http://www.makingdifferent.com/wp-content/uploads/2013/03/Facebook-Activity-Feed-Plugin-Screenshot.png">
	        </div>
	      </div>
	    </div>
	  </div>
	  
 
    </div>
  </div>